.input {
    width: 75%;
}

.column {
    height: 75vh;
}

#ingredient-items {
    position: relative;
    align-items: center;
}

#search-btn {
    position: absolute;
    bottom: 0;
}

/* .hero {
    background-color: #f97316;
} */